*.bak
EarthChemLibrary/simpletransform.xslt
DataCiteXMLTransforms/archive/dataciteToHTMLwithSDObku20180130.xsl

DataCiteXMLTransforms/archive/DataCite/ECL/*
DataCiteXMLTransforms/archive/DataCite/USAP-DC/*